@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

$text-color: #181D39;
$bg-color: #272E69;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Mulish', sans-serif;
}

body {
    padding: 16px;
    background: #F1F6FF;

    section {
        margin: 16px;

        &.component-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                display: none;

                &:checked + label {
                    color: #fff;
                    background: $bg-color;

                    .heading .downloads svg .icon-star-path {
                        fill: #fff;
                    }

                    .tag {
                        background: #1A2261;
                    }
                }
            }

            label {
                width: 668px;
                padding: 40px 50px;
                border-radius: 15px;
                color: $text-color;
                background: #fff;
                cursor: pointer;
                transition: 300ms color ease-in-out;

                &:not(:last-child) {
                    margin-bottom: 25px;
                }

                .heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    h2 {
                        font-size: 22px;
                        margin-right: 5px;

                        .version {
                            font-size: 16px;
                            opacity: .5;
                        }
                    }

                    .downloads {
                        display: flex;
                        align-items: center;

                        svg {
                            margin-right: 12px;

                            .icon-star-path {
                                fill: #272E69;
                                transition: 300ms fill ease-in-out;
                            }
                        }

                        span {
                            font-size: 18px;
                        }
                    }
                }

                p {
                    width: 379px;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }

                .tags {
                    display: flex;
                    align-items: center;

                    .tag {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 29px;
                        padding: 0 10px;
                        border-radius: 16.5px;
                        font-size: 14px;
                        background: #F1F6FF;

                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        &.component-2 {
            width: 641px;
            padding: 50px;
            border-radius: 15px;
            color: $text-color;
            background: #fff;

            h1 {
                font-size: 26px;
                margin-bottom: 20px;
            }

            .filter {
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                label {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                    
                    h3 {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                    select {
                        width: 154px;
                        padding: 15px 25px;
                        border-radius: 5px;
                        border: 1px solid #CED7E9;
                        background: url(../images/icon-arrow-down.svg) no-repeat calc(100% - 17.5px);
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        text-indent: 1px;
                        text-overflow: '';
                        cursor: pointer;
                    }
                }
            }

            ul {
                margin-bottom: 30px;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 75px;
                    border-radius: 5px;
                    background: #F1F6FF;
                    cursor: pointer;

                    p {
                        font-size: 16px;
                        margin-left: 25px;
                    }

                    span {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        background: #fff url(../images/icon-copy.svg) no-repeat center;
                        margin-right: 12px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }

            a.button {
                display: inline-block;
                padding: 25px 35px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                color: #fff;
                background: $bg-color;
                transition: 300ms background-color ease-in-out;

                &:hover {
                    background: lighten($bg-color, 4);
                }
            }
        }
    }

    .copied {
        display: inline-block;
        padding: 4px 16px;
        border-radius: 4px;
        font-size: 14px;
        color: #fff;
        background-color: $bg-color;
        position: fixed;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        transition: 200ms ease-out all;

        &.active {
            top: 12px;
            visibility: visible;
            opacity: 1;
        }
    }
}